@import "tools/_mixins.scss";
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  @include media-query($small) {
    max-width: 540px;
  }
  @include media-query($medium) {
    max-width: 720px;
  }
  @include media-query($large) {
    max-width: 960px;
  }
}
.align-items-center {
  align-items: center;
}
.grid-10,
.grid-11,
.grid-12,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-auto,
.grid-lg,
.grid-lg-1,
.grid-lg-10,
.grid-lg-11,
.grid-lg-12,
.grid-lg-2,
.grid-lg-3,
.grid-lg-4,
.grid-lg-5,
.grid-lg-6,
.grid-lg-7,
.grid-lg-8,
.grid-lg-9,
.grid-lg-auto,
.grid-md,
.grid-md-1,
.grid-md-10,
.grid-md-11,
.grid-md-12,
.grid-md-2,
.grid-md-3,
.grid-md-4,
.grid-md-5,
.grid-md-6,
.grid-md-7,
.grid-md-8,
.grid-md-9,
.grid-md-auto,
.grid-sm,
.grid-sm-1,
.grid-sm-10,
.grid-sm-11,
.grid-sm-12,
.grid-sm-2,
.grid-sm-3,
.grid-sm-4,
.grid-sm-5,
.grid-sm-6,
.grid-sm-7,
.grid-sm-8,
.grid-sm-9,
.grid-sm-auto,
.grid-xl,
.grid-xl-1,
.grid-xl-10,
.grid-xl-11,
.grid-xl-12,
.grid-xl-2,
.grid-xl-3,
.grid-xl-4,
.grid-xl-5,
.grid-xl-6,
.grid-xl-7,
.grid-xl-8,
.grid-xl-9,
.grid-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.grid-2 {
  flex: 0 0 16.667%;
  max-width: 16.667%;
}
.grid-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.grid-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.grid-5 {
  flex: 0 0 41.667%;
  max-width: 41.667%;
}
.grid-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.grid-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.grid-8 {
  flex: 0 0 66.667%;
  max-width: 66.667%;
}
.grid-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.grid-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.grid-11 {
  flex: 0 0 91.667%;
  max-width: 91.667%;
}
.grid-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@include media-query($small) {
  .grid-sm-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .grid-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .grid-sm-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .grid-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .grid-sm-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .grid-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-sm-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .grid-sm-11 {
    flex: 0 0 91.667%;
    max-width: 91.667%;
  }
  .grid-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@include media-query($medium) {
  .grid-md-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .grid-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .grid-md-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .grid-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .grid-md-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .grid-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-md-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .grid-md-11 {
    flex: 0 0 91.667%;
    max-width: 91.667%;
  }
  .grid-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@include media-query($large) {
  .grid-lg-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .grid-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .grid-lg-5 {
    flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .grid-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .grid-lg-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .grid-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-lg-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .grid-lg-11 {
    flex: 0 0 91.667%;
    max-width: 91.667%;
  }
  .grid-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
