// Grid
$grid-small: 36em;
$grid-medium: 48em;
$grid-large: 62em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;
// Breakpoints used with the media-query mixin
$small: "small";
$medium: "medium";
$large: "large";
$large-down: "large-down";
$widescreen: "widescreen";

$breakpoints: (
  $small "(min-width: #{$grid-small})",
  $medium "(min-width: #{$grid-medium})",
  $large "(min-width: #{$grid-large})",
  $large-down "(max-width: #{$grid-widescreen})",
  $widescreen "(min-width: #{$grid-widescreen})"
);
